{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="content">

    <div class="row">
        <div class="page-header">
            <h2><a href="/">Home</a>&nbsp;&nbsp;>&nbsp;&nbsp;자산 신규등록</h2>
        </div>
    </div>

    <form action="{% url 'equipment:equip_add' %}" method="post" id="register_form">
    {% csrf_token %}
    <div class="row">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td class="active">자산분류</td>
                <td>
                    {% if type_list %}
                        <select id="equipment_code" name="equipment_code" class="selectpicker show-tick form-control" data-live-search="true" title="자산 분류 선택" data-live-search-placeholder="Search...">
                        {% for type in type_list %}
                            <option value="{{ type.id }}">{{ type.code_name }}</option>
                        {% endfor %}
                        </select>
                    {% else %}
                        등록된 자산 분류가 없습니다. 먼저 등록하세요.
                    {% endif %}
                </td>
                <td class="active">제조사</td>
                <td>
                    {% if manufacturer_list %}
                        <select id="manufacturer_code" name="manufacturer_code" class="selectpicker show-tick form-control" data-live-search="true" title="제조사 선택" data-live-search-placeholder="Search...">
                        {% for manufacturer in manufacturer_list %}
                            <option value="{{ manufacturer.id }}">{{ manufacturer.code_name }}</option>
                        {% endfor %}
                        </select>
                    {% else %}
                        등록된 제조사 분류가 없습니다. 먼저 등록하세요.
                    {% endif %}
                </td>
                <td class="active">상태</td>
                <td>
                    {% if state_list %}
                        <select id="state_code" name="state_code" class="selectpicker show-tick form-control" data-live-search="true" title="자산 상태 선택" data-live-search-placeholder="Search...">
                        {% for state in state_list %}
                            <option value="{{ state.id }}">{{ state.code_name }}</option>
                        {% endfor %}
                        </select>
                    {% else %}
                        등록된 상태 분류가 없습니다. 먼저 등록하세요.
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="active">모델번호</td>
                <td><input type="text" class="form-control" id="model_no" name="model_no" value="" maxlength="30"></td>
                <td class="active">시리얼번호</td>
                <td><input type="text" class="form-control" id="serial_no" name="serial_no" value="" maxlength="30"></td>
                <td class="active">취득가격</td>
                <td><input type="text" class="form-control" id="purchase_price" name="purchase_price" value=""  placeholder="1234567890" maxlength="12"></td>
            </tr>
            <tr>
                <td class="active">취득일</td>
                <td><input type="text" class="form-control" id="purchase_ymd" name="purchase_ymd" value="" placeholder="yyyy-MM-dd" maxlength="10"></td>
                <td class="active">폐기(예정)일</td>
                <td colspan="3"><input type="text" class="form-control" id="discard_ymd" name="discard_ymd" value="" placeholder="yyyy-MM-dd" maxlength="10"></td>
            </tr>
            <tr>
                <td class="active">부가정보</td>
                <td colspan="5"><textarea class="form-control" rows="5" id="detail_info" name="detail_info" placeholder="부가정보를 입력 합니다." maxlength="1000"></textarea></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-md-4" align="left">
            <button type="button" class="btn btn-default" id="go_back">돌아가기</button>
        </div>
        <div class="col-md-8" align="right">
            <button type="submit" class="btn btn-primary" id="equip_add" name="equip_add">등록</button>
        </div>
    </div>
    </form>

</div>

<script src="{% static 'equipment/equipment.js' %}"></script>
<script>
    $(document).ready(function() {
        $(document).on("click", "#equip_add", equip_add);
        $(document).on("click", "#go_back", doGoBack);
    });
</script>

{% endblock %}